/*
 *
 *=HOMEPAGE
 *
 */
body#site-index div#content {
}
body#site-index div#page-content {
	width: 960px;
}
/*
 *
 *=INTRO
 *
 */
body#site-index div#intro {
	margin: 10px 30px 30px;
	text-align: center;
	font-family: "Trebuchet MS", sans;
/*
*/
}
body#site-index div#intro h2 {
	color: #fff;
	background: #fff;
	display: inline;
	padding: 10px 5px;
	font-size: 1em;
	border: 1px #DDDAD8 solid;
	text-transform: none;
}
body#site-index div#intro h2 span {
	background: #0199AE;
	padding: 5px 10px;
}
body#site-index div#intro-text {
	color: #585858;
	margin-top: 20px;
}
/* SERVICES */
body#site-index div#services h2 {
	position: absolute;
	left: -9000px;
}
body#site-index div#services {
	height: 410px;
	background: url(../images/services-bg-150x410.jpg) repeat-x;
}
body#site-index div#services-wrapper {
	width: 960px;
	margin: 0 auto;
}
body#site-index div#services div.article {
	width: 320px;
	height: 300px;
	float: left;
	margin: 0;
	color: #fff;
	background: url(../images/shadow-v-10x960.png) no-repeat right bottom;
	padding: 60px 0 0;
}
body#site-index div#services div.article h3 {
	color: #fff;
	font-size: 1.4em;
	margin: 0 0 10px 60px;
}
body#site-index div#services div.article img {
	float: left;
	margin: -10px 10px 0 20px;
}
body#site-index div#services div.article p {
	font-size: 1.0em;
	text-align: justify;
	text-justify: newspaper;
	width: 260px;
}
body#site-index div#services div.article a:link,
body#site-index div#services div.article a:visited {
	color: #fff;
}
body#site-index div#services div.article a:hover {
	color: #FFAD00;
}
body#site-index div#services div#service-support {
	background: none;
}
/*
 *
 *=NEWS-UPDATES
 *
 */
body#site-index div#news-updates {
	height: 410px;
	background: #DDDAD8 url(../images/news-updates-bg-150x172.jpg) repeat;
}
body#site-index div#news {
	width: 640px;
	height: 390px;
	float: left;
	background: url(../images/shadow-v-10x960.png) no-repeat bottom right;
	padding: 0 0 0;
}
body#site-index div#content div#news h2 {
	color: #323232;
	text-align: center;
	font-weight: bold;
	line-height: 60px;
	width: 640px;
	margin: 10px 0 0;
	font-size: 1.2em;
}
body#site-index div#news div.articles-wrapper {
	margin: 0 20px 0;
}
body#site-index div#news div.article {
	clear: both;
	margin: 20px 0 30px;
	background: none;
}
body#site-index div#news div.article h3 {
	margin: 0 0 0 80px;
}
body#site-index div#news div.article h3 a:link,
body#site-index div#news div.article h3 a:visited {
	color: #F01800;
	text-decoration: none;
}
body#site-index div#news div.article h3 a:hover {
	color: #FFAD00;
}
body#site-index div#news div.published-date {
	font-family: Arial, sans-serif;
	background: url(../images/shadow-v-7x100.jpg) no-repeat right top;
	float: left;
	width: 40px;
	height: 90px;
	margin: -20px 0 0;
	padding: 23px 20px 0 0;
	text-align: right;
}
body#site-index div#news div.published-date span {
	display: block;
}
body#site-index div#news div.published-date span.month {
	font-size: 1.0em;
	text-transform: uppercase;
}
body#site-index div#news div.published-date span.day {
	font-size: 2.0em;
	color: #0199AE;
	font-weight: bold;
	padding: 4px 0 6px;
}
body#site-index div#news div.published-date span.year {
	font-size: 1.0em;
}
body#site-index div#news div.body {
	width: 520px;
	margin: 10px 0 0 80px;
	color: #222;
	font-size: 1.0em;
	line-height: 18px;
}
body#site-index div#news div.body p {
	width: 520px;
}
body#site-index div#news div.article.last {
	margin-bottom: 0;
}
/* =UPDATES */
body#site-index div#updates {
	width: 320px;
	height: 350px;
	float: left;
}
body#site-index div#updates h2 {
	font-size: 1.2em;
	line-height: 60px;
	width: 320px;
	color: #323232;
	text-align: center;
	font-weight: bold;
	margin: 10px 0 0;
}
body#site-index div#updates div#twitter-widget {
	width: 280px; /* MATCHES WIDGET WIDTH */
	margin: 10px 0 0 22px;
}
body#site-index div#updates div#twitter-widget a.twitter-timeline {
}
/* TECHNOLOGIES */
body#site-index div#technologies {
	background: #DDDAD8 url(../images/shadow-h-960x10.png) no-repeat top;
	margin-bottom: -27px;
}
body#site-index div#technologies h2 {
	font-size: 1.2em;
	color: #323232;
	width: 960px;
	height: 36px;
	text-align: center;
	line-height: 30px;
	background: #DDDAD8 url(../images/news-updates-bg-150x172.jpg) repeat;
	padding-top: 50px;
	padding-bottom: 10px;
	margin: 0;
	font-weight: normal;
}
body#site-index div#technologies ul {
	padding-top: 30px;
	padding-bottom: 20px;
	margin: 0 0 0 12px;
	clear: both;
}
body#site-index div#technologies ul.first {
	background: url(../images/shadow-h-960x10.png) no-repeat top;
}
body#site-index div#technologies li {
	float: left;
	/*
	width: 150px;
	height: 93px;
	*/
	width: 110px;
	height: 62px;
	margin: 5px 2px;
}
body#site-index div#technologies li.last {
	clear: both;
	height: 1px;
}
body#site-index div#technologies img {
	width: 100px;
}
