/*
 *
 *=HOMEPAGE
 *
 */
body#site-index div#content {
	background: url(../images/content-bg-970x465.png) no-repeat center top;
}
body#site-index div#inner-content {
	width: 960px;
	margin: 40px auto 0;
	background: none;
}
/* HIGHLIGHT */
body#site-index div.highlight {
	height: 425px;
	background: none;
}
body#site-index div.highlight div.image-wrapper {
	float: left;
	width: 533px;
	height: 335px;
	background: #f00;
	margin: 30px 0 0 40px;
	position: relative;
	overflow: hidden;
}
body#site-index div.highlight div.image-wrapper p {
	position: absolute;
	top: 110px;
	width: 450px;
	margin: 0 0 0 35px;
	color: #fff;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
}
body#site-index div.highlight div.info-wrapper {
	float: right;
	width: 350px;
	margin: 30px 20px 0 0;
}
body#site-index div.highlight div.info-wrapper h2,
body#site-index div.highlight div.info-wrapper h3 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; 
}
body#site-index div.highlight div.info-wrapper h2 {
	font-size: 32px;
	letter-spacing: -2px;
	color: #F01800;
}
body#site-index div.highlight div.info-wrapper h3 {
	font-size: 22px;
	margin-top: 7px;
	letter-spacing: -1px;
	color: #008080;
}
body#site-index div.highlight div.info-wrapper p {
	margin-top: 10px;
	color: #898989;
}
body#site-index div.highlight div.gallery {
}
body#site-index div.highlight div.gallery img {
	display: block;
	float: left;
	margin: 60px 0 0 20px;
	border: 5px #fff solid;
}
body#site-index div.highlight div.read-more {
	float: left;
}
body#site-index div.highlight div.read-more a {
	display: block;
	position: relative;
	width: 103px;
	height: 38px;
	background: url(../images/button-blue-bg-103x38.png) no-repeat;
	margin: -85px 0 0 420px;
	text-align: center;
	line-height: 38px;
	text-transform: uppercase;
}
body#site-index div.highlight div.read-more a:link,
body#site-index div.highlight div.read-more a:visited {
	color: #fff;
	text-decoration: none;
}
body#site-index div.highlight div.read-more a:hover {
	color: #E7E7E7;
}
/* SERVICES */
body#site-index div#services {
	height: 410px;
	background: url(../images/services-bg-150x410.jpg) repeat-x;
}
body#site-index div#services h3 {
	text-align: center;
	line-height: 70px;
	color: #fff;
	text-shadow: 0 1px 1px #000;
}
body#site-index div#services-wrapper {
	margin: 0 0 0 30px;
}
body#site-index div#services div.service-detail {
	width: 280px;
	height: 320px;
	float: left;
	margin: 0 0 0;
	color: #fff;
	background: url(../images/shadow-v-10x960.png) no-repeat right bottom;
	padding: 60px 0 0 25px;
}
body#site-index div#services div.service-detail h4 {
	font-size: 18px;
	margin-bottom: 10px;
}
body#site-index div#services div.service-detail img {
	float: left;
	margin: -10px 10px 0 0;
}
body#site-index div#services div.service-detail p {
	font-size: 14px;
	text-align: justify;
	text-justify: newspaper;
	width: 250px;
}
body#site-index div#services div#service-support {
	background: none;
}
/* NEWS-UPDATES */
body#site-index div#news-updates {
	height: 410px;
	background: #DDDAD8 url(../images/news-updates-bg-150x172.jpg) repeat;
}
body#site-index div#news {
	width: 640px;
	height: 390px;
	float: left;
	background: url(../images/shadow-v-10x960.png) no-repeat bottom right;
	padding: 0 0 0;
}
body#site-index div#news h3 {
	color: #323232;
	text-align: center;
	font-weight: bold;
	line-height: 60px;
}
body#site-index div#news div#posts-wrapper {
	margin: 0 20px 0;
}
body#site-index div#news div.post {
	clear: both;
	margin: 20px 0 30px;
}
body#site-index div#news div.post.last {
	margin-bottom: 0;
}
body#site-index div#news div.published-date {
	font-size: 12px;
	font-family: Arial, sans-serif;
	background: url(../images/shadow-v-7x100.jpg) no-repeat right top;
	float: left;
	width: 40px;
	height: 90px;
	margin: -20px 0 0;
	padding: 23px 20px 0 0;
	text-align: right;
}
body#site-index div#news div.published-date span {
	display: block;
}
body#site-index div#news div.published-date span.month {
	font-size: 14px;
	text-transform: uppercase;
}
body#site-index div#news div.published-date span.day {
	font-size: 30px;
	color: #0199AE;
	font-weight: bold;
	padding: 4px 0 6px;
}
body#site-index div#news div.published-date span.year {
	font-size: 14px;
}
body#site-index div#news h4 {
	font-size: 18px;
	color: #F01800;
	margin: 0 0 0 80px;
}
body#site-index div#news div.body {
	margin: 10px 0 0 80px;
	color: #222;
	font-size: 14px;
	line-height: 18px;
}
body#site-index div#news div.read-more {
	margin: 10px 10px 0 0;
	float: right;
}
body#site-index div#news div.read-more a {
}
body#site-index div#news div.read-more a:link,
body#site-index div#news div.read-more a:visited {
	color: #008080;
	text-decoration: none;
	font-weight: bold;
}
body#site-index div#news div.read-more a:hover {
	text-decoration: underline;
}
body#site-index div#updates {
	width: 320px;
	height: 390px;
	float: left;
}
body#site-index div#updates h3 {
	line-height: 60px;
	color: #323232;
	text-align: center;
	font-weight: bold;
}
body#site-index div#updates div#twtr-widget-1 {
	width: 280px; /* MATCHS WIDGET WIDTH */
	margin: 10px 0 0 22px;
}
/* TECHNOLOGIES */
body#site-index div#technologies {
	background: #DDDAD8 url(../images/shadow-h-960x10.png) no-repeat top;
	margin-bottom: -7px;
}
body#site-index div#technologies h3 {
	color: #323232;
	height: 36px;
	text-align: center;
	line-height: 30px;
	background: #DDDAD8 url(../images/news-updates-bg-150x172.jpg) repeat;
	padding-bottom: 10px;
}
body#site-index div#technologies ul {
	padding-top: 30px;
	padding-bottom: 20px;
	background: url(../images/shadow-h-960x10.png) no-repeat top;
	margin: 0 0 0 12px;
}
body#site-index div#technologies li {
	float: left;
	/*
	width: 150px;
	height: 93px;
	*/
	width: 100px;
	height: 62px;
	margin: 5px 2px;
}
body#site-index div#technologies li.last {
	clear: both;
	height: 1px;
}
body#site-index div#technologies img {
	width: 100px;
}
