/*
 *
 *=INNER-CONTENT
 *
 */
div#inner-content {
	width: 960px;
	margin: 0 auto 0;
	background: #E7E7E7;
	min-height: 200px;
}
div#inner-content h1 {
	font-size: 1.6em;
	color: #008080;
	text-transform: uppercase;
}
div#inner-content h2 {
	font-size: 1.4em;
	color: #F01800;
}
div#inner-content h3 {
	font-size: 1.2em;
}
div#inner-content h4 {
	font-size: 1.0em;
}

div#inner-content h1,
div#inner-content h2,
div#inner-content h3,
div#inner-content h4 {
	font-weight: bold;
	margin: 10px 20px 0;
}

/*
 *
 *=POSTS
 *
 */
div#inner-content div#posts-wrapper {
	margin: 20px 0 0;
	padding-bottom: 30px;
}
/*
 *
 *=POST
 *
 */
div#inner-content div.post {
	margin: 30px 20px 0;
	width: 600px;
	background: url(../images/shadow-h-960x10.png) no-repeat bottom right;
	padding-bottom: 30px;
}
div#inner-content div.post.full {
	background: none;
}
div#inner-content div.post h1, /* FULL DISPLAY */
div#inner-content div.post h2 { /* LIST DISPLAY */
	margin: 10px 0 10px;
	font-size: 1.4em;
	font-weight: bold;
}
div#inner-content div.post h2 a:link,
div#inner-content div.post h2 a:visited {
	color: #F01800;
	text-decoration: none;
}
div#inner-content div.post h2 a:hover {
	color: #FFAD00;
}
div#inner-content div.published-date {
	font-size: 1.0em;
	color: #898989;
	padding: 10px 0 5px 30px;
	background: url(../images/icons/once-calander-24x24.png) no-repeat left;
}
div#inner-content div.published-date span.month {
	text-transform: capitalize;
}
div#inner-content div.published-date span {
	font-weight: bold;
}
div#inner-content div.body {
}
div#inner-content div.social-links {
	margin: 10px 0;
	background: #898989;
}
div#inner-content div.social-links li {
	float: left;
	width: 130px;
}
/*
 *
 *=CONTACT
 *
 */
div#contact-text {
	width: 600px;
	margin: 20px 0 0 20px;
}
div#contact-text h4 {
	margin: 10px 0 0 0;
}
div#contact-text p {
	margin: 5px 0 0;
}
div#contact-form-wrapper {
	width: 740px;
	margin: 40px auto 0;
	padding-bottom: 30px;
	background: #ccc;
}
div#contact-form-widgets {
	width: 700px;
	margin: 0 auto 0;
	padding-bottom: 30px;
	background: #222;
}
div#contact-form-wrapper label {
}
div#contact-form-wrapper input,
div#contact-form-wrapper select,
div#contact-form-wrapper textarea {
	border: 1px #898989 solid;
}
div#contact-form-wrapper input {
	height: 1.6em;
}
div#contact-form-wrapper select {
	height: 2.0em;
}
div#contact-form-wrapper fieldset {
	width: 350px;
}
div#contact-form-wrapper fieldset#fieldset-main-data {
	float: left;
	background: #fff;
}
div#contact-form-wrapper fieldset#fieldset-main-data div.form-row {
	margin: 15px 0 0;
	height: auto;
}
div#contact-form-wrapper fieldset#fieldset-main-data label {
	float: left;
	width: 100px;
	padding-top: 4px;
	text-transform: uppercase;
	font-weight: bold;
}
div#contact-form-wrapper fieldset#fieldset-main-data input,
div#contact-form-wrapper fieldset#fieldset-main-data select {
	width: 230px;
	float: left;
}
div#contact-form-wrapper fieldset#fieldset-message {
	background: #bbb;
	float: right;
}
div#contact-form-wrapper fieldset#fieldset-message textarea {
	margin-top: 10px;
	width: 300px;
	height: 200px;
}
/*
div#contact-form-wrapper div.captcha {
	float: left;
	width: 300px;
	margin-top: 30px;
	position: relative;
	height: 70px;
}
div#contact-form-wrapper div.captcha label {
	display: block;
}
div#contact-form-wrapper div.captcha input {
	width: 190px;
	margin-top: 5px;
}
div#contact-form-wrapper div.captcha div a {
	position: absolute;
	top: 0;
	right: 0;
}
div#contact-form-wrapper div.captcha img {
	border: 2px #F01800 solid;
	position: absolute;
	top: 20px;
	right: 0;
}
*/ 
div#contact-form-wrapper div.input-submit {
	margin-top: 20px;
	clear: both;
	text-align: right;
}
/* ERROR */
div#contact-form-wrapper div.errorMessage {
	text-align: right;
	font-style: italic;
	font-size: 1.0em;
	color: #F01800;
	clear: both;
}
div#contact-form-wrapper fieldset#fieldset-main-data div.errorMessage {
	margin-right: 5px;
	margin-bottom: 20px;
}
div#contact-form-wrapper div.captcha div.errorMessage {
	margin-right: 105px;
}
