/*** ESSENTIAL STYLES ***/
div#main-nav ul.sf-menu, 
div#main-nav ul.sf-menu * {
}
div#main-nav ul.sf-menu {
}
div#main-nav ul.sf-menu ul {
	position: absolute;
	top: -999em;
	width: 12em; /* left offset of submenus need to match (see below) */
}
div#main-nav ul.sf-menu ul li {
	width: 100%;
}
div#main-nav ul.sf-menu li:hover {
	visibility: inherit; /* fixes IE7 'sticky bug' */
}
div#main-nav ul.sf-menu li {
	position: relative;
}
div#main-nav ul.sf-menu a {
	display: block;
	position: relative;
}
div#main-nav ul.sf-menu li:hover ul,
div#main-nav ul.sf-menu li.sfHover ul {
	left: 0;
	top: 35px; /* match top ul list item height */
	z-index: 99;
}
ul div#main-nav ul.sf-menu li:hover li ul,
ul div#main-nav ul.sf-menu li.sfHover li ul {
	top: -999em;
}
ul div#main-nav ul.sf-menu li li:hover ul,
ul div#main-nav ul.sf-menu li li.sfHover ul {
	left: 12em; /* match ul width */
	top: 0;
}
ul div#main-nav ul.sf-menu li li:hover li ul,
ul div#main-nav ul.sf-menu li li.sfHover li ul {
	top: -999em;
}
ul div#main-nav ul.sf-menu li li li:hover ul,
ul div#main-nav ul.sf-menu li li li.sfHover ul {
	left: 12em; /* match ul width */
	top: 0;
}
/*
 *
 *=MAIN-NAV
 *
 */
div#main-nav {
	position: absolute;
	top: 120px;
	width: 960px;
	height: 35px;
	margin: 0 0 0 5px;
	font-size: 1.0em;
	font-weight: bold;
}
div#main-nav ul {
	float: right;
	border: 2px #ddf solid;
}
div#main-nav ul ul {
	border-top: none;
}
div#main-nav li {
	float: left;
	background: #4D4D4D;
}
div#main-nav ul.sf-menu li:hover {
	background: #C8C8C8;
}
div#main-nav li li {
	background: #C8C8C8;
	border-top: 1px #B8B8B8 solid;
}
div#main-nav a {
	padding: .75em 1em;
}
div#main-nav a:link,
div#main-nav a:visited,
div#main-nav ul li.sfHover a:active {
	color: #fff;
	text-decoration: none;
}
div#main-nav a:hover {
	color: #4D4D4D;
}
div#main-nav li.sfHover a:link,
div#main-nav li.sfHover a:visited,
div#main-nav li li a:link,
div#main-nav li li a:visited {
	color: #4D4D4D;
	text-decoration: none;
}

div#main-nav li.sfHover a:hover,
div#main-nav li li a:hover {
	color: #000;
}
