/*
 *
 *=page-content
 *
 */
div#page-content {
	width: 920px;
	margin: 0 auto 0;
	padding-top: 1px; /* CHROMIUM BUG */
}
div#page-content h1,
div#page-content h2,
div#page-content h3,
div#page-content h4 {
	font-weight: bold;
	margin: 10px 0 0;
}
div#page-content h1 {
	font-size: 1.6em;
	color: #008080;
	text-transform: uppercase;
	margin-bottom: 15px;
}
div#page-content h2 {
	font-size: 1.4em;
	color: #F01800;
	margin-top: 15px;
}
div#page-content h2 a:link,
div#page-content h2 a:visited {
	color: #F01800;
	text-decoration: none;
}
div#page-content h2 a:hover {
	color: #FFAD00;
}
div#page-content h3 {
	font-size: 1.2em;
	margin-top: 15px;
}
div#page-content h4 {
	font-size: 1.0em;
	margin-top: 15px;
}

div#page-content p {
	margin: 5px auto 0;
}

div#page-content ul {
	list-style: square;
	list-style-position: inside;
}
div#page-content ul ul {
	margin-left: 2em;
}
div#page-content div.gallery ul,
div#page-content div.social-links ul {
	list-style: none;
}
div#page-content ul li {
	margin: 10px 0 0 0;
}

div#page-content a:link,
div#page-content a:visited {
	color: #F01800;
	text-decoration: none;
}
div#page-content a:hover {
	text-decoration: underline;
}

/*
 *
 *=NEWS
 *
 */
body#news-index div.articles-wrapper {
	margin: 20px 0 0;
	padding-bottom: 30px;
}
/*
 *
 *=NEW
 *
 */
body#news-index div.articles-wrapper div.article,
body#news-read div.article {
	margin: 30px 0 0;
	width: 600px;
}
body#news-read div.article {
	padding-bottom: 60px;
	background: none;
}
div#page-content div.articles-wrapper div.article.last {
}
body#news-index div.articles-wrapper div.article h2, /* LIST DISPLAY */
body#news-read div.article h1 { /* FULL DISPLAY */
	margin: 10px 0 10px;
	font-size: 1.4em;
	font-weight: bold;
}
body#news-index div.article p,
body#news-read div.article p {
	margin: 0;
	width: 580px;
}
body#news-index div.article div.published-date,
body#news-read div.article div.published-date {
	font-size: 1.0em;
	color: #898989;
	padding: 10px 0 5px 30px;
	background: url(../images/icons/once-calander-24x24.png) no-repeat left;
}
body#news-index div.article div.published-date span.month,
body#news-read div.article div.published-date span.month {
	text-transform: capitalize;
}
body#news-index div.article div.published-date span,
body#news-read div.article div.published-date span {
	font-weight: bold;
}
body#news-index div.article div.body,
body#news-read div.article div.body {
}
body#news-index div.article div.footer,
body#news-read div.article div.footer {
	background: #ddd;
	border: 1px #ccc solid;
	height: 40px;
	margin-top: 10px;
}
body#news-index div.article div.social-links,
body#news-read div.article div.social-links {
	margin: 0 10px;
	background: #898989;
}
body#news-index div.article div.social-links li,
body#news-read div.article div.social-links li {
	float: left;
	width: 130px;
}
/*
 *
 *=CONTACT
 *
 */
body#site-contact div#page-content {
	padding-bottom: 0;
}
div#contact-text {
	width: 600px;
	margin: 20px 0 0;
}
div#contact-text h4 {
	margin: 10px 0 0;
}
div#contact-text p {
	margin: 5px 0 0;
}
div#contact-form-wrapper {
	width: 740px;
	margin: 40px auto 0;
}
div#contact-form-widgets {
	width: 700px;
	margin: 20px auto 0;
}
form#contact-form label {
}
form#contact-form input,
form#contact-form select,
form#contact-form textarea {
	border: 1px #898989 solid;
}
form#contact-form input {
	height: 1.6em;
}
form#contact-form select {
	height: 2.0em;
}
form#contact-form fieldset {
	width: 350px;
}
form#contact-form fieldset#fieldset-main-data {
	float: left;
}
form#contact-form fieldset#fieldset-main-data div.form-row {
	margin: 10px 0 5px;
	height: auto;
	width: 330px
}
form#contact-form fieldset#fieldset-main-data label {
	float: left;
	width: 100px;
	padding-top: 4px;
	text-transform: uppercase;
	font-weight: bold;
}
form#contact-form fieldset#fieldset-main-data input,
form#contact-form fieldset#fieldset-main-data select {
	width: 228px;
	float: left;
}
/*  */

form#contact-form fieldset#fieldset-main-data div.captcha {
	margin-top: 30px;
	position: relative;
	height: 70px;
}
form#contact-form fieldset#fieldset-main-data div.captcha label {
	display: block;
	width: 300px;
	margin-top: 20px;
	margin-bottom: 5px;
}
form#contact-form div.captcha input {
	clear: both;
}
form#contact-form fieldset#fieldset-main-data div.captcha div input { /* REFRESH BUTTON */
	width: 94px;
	position: absolute;
	top: 0;
	right: 0;
}
form#contact-form div.captcha div a {
}
form#contact-form div.captcha img {
	border: 2px #F01800 solid;
	position: absolute;
	top: 20px;
	right: 0;
}
/*  */
form#contact-form fieldset#fieldset-message {
	float: right;
}
form#contact-form fieldset#fieldset-message textarea {
	margin-top: 10px;
	width: 348px;
	height: 200px;
}
form#contact-form div.input-submit {
	margin-top: 20px;
	clear: both;
	text-align: right;
}
/* ERROR */
form#contact-form div.errorMessage {
	text-align: right;
	font-style: italic;
	font-size: 1.0em;
	color: #F01800;
	clear: both;
}
form#contact-form  div.errorMessage {
	padding-top: 4px;
	margin-right: 3px;
}
/* CONTACT-OTHER */
div#contact-other-wrapper {
	width: 920px;
	margin: 20px auto 0;
	padding-top: 10px;
	background: #ddd;
	border-radius: 10px;
}
div#contact-other-wrapper h4 {
	font-size: 1.6em;
	margin: 0;
	text-align: center;
	padding: 10px 0;
}
div#contact-other-inner {
	width: 600px;
	margin: 0 auto;
	padding-bottom: 30px;
	margin-bottom: -35px;
}

div#contact-other-inner p.contact-detail {
	height: 48px;
	padding: 5px 0 10px 70px;
	line-height: 60px;
	margin: 2px 0 0;
	float: left;
}
div#contact-other-inner p#contact-email {
	background: url(../images/icons/once-mail.png) no-repeat 10px 10px;
}
div#contact-other-inner p#contact-phone {
	background: url(../images/icons/once-phone.png) no-repeat 10px 10px;
}
div#contact-other-inner p#contact-person {
	background: url(../images/icons/once-home.png) no-repeat 10px 10px;
}
/*
 *
 *=TRAINING
 *
 */
div#training-items {
	width: 880px;
	margin: 30px auto 0;
}
div#training-items div.article {
	width: 800px;
	margin: 20px 0 0 0;
}
div#training-items div.article.last {
	background: none;
}
div#training-items div.figure {
	background: #aaa;
	float: left;
	width: 100px;
	height: 100px;
	border: 5px #bbb solid;
	margin: 10px 10px 10px 0;
	padding: 1px;
}
div#training-items div.figure img {
	display: block;
	background: #fff;
}
div#training-items div.body {
	margin-top: 10px;
}

div#training-items div.article div.footer {
	clear: both;
}
/*  */
body#training-details div.article {
	width: 600px;
	float: left;
	margin-bottom: -30px;
}
body#training-details div.article h3 {
	margin-top: 40px;
}
body#training-details div.article div.footer {
	margin-bottom: 20px;
}
body#training-details div.figure {
	background: #aaa;
	float: left;
	width: 100px;
	height: 100px;
	border: 5px #bbb solid;
	margin: 3px 10px 10px 0;
	padding: 1px;
}
body#training-details div.figure img {
	display: block;
	background: #fff;
}
body#training-details div.syllabus {
	margin: 20px 0 0;
}
body#training-details div.syllabus ul {
	list-style: square;
	list-style-position: inside; 
	margin: 10px 0 0 5px;
}
body#training-details div.syllabus ul ul {
	margin-left: 2em;
}
body#training-details div.syllabus ul li {
	margin: 10px 0 0;
}
body#training-details div.instructor-details {
	width: 300px;
	float: left;
	margin: 50px 0 0 20px;
	color: #fff;
	padding-top: 20px;
	padding-bottom: 20px;
	background: #222;
	border-radius: 20px;
}
body#training-details div.instructor-details h3 {
	text-align: center;
	margin-bottom: 20px;
}
body#training-details div.instructor-details h4 {
	margin-left: 110px;
	color: #0199AE;
}
body#training-details div.instructor-details h4 a:link,
body#training-details div.instructor-details h4 a:visited {
	color: #0199AE;
	text-decoration: none;
}
body#training-details div.instructor-details h4 a:hover {
	color: #FFAD00;
}
body#training-details div.instructor-details div.figure {
	width: 60px;
	height: 60px;
	margin: -10px 20px 10px;
	border-color: #F01800;
	padding: 0;
}
body#training-details div.instructor-details div.figure img {
	width: 60px;
	height: 60px;
}
body#training-details div.instructor-details p {
	margin: 10px 20px;
}
/*
 *
 *=SERVICES
 *
 */
body#services-index div.articles-wrapper {
	margin-top: 30px;
}
/*
 *
 *=HOSTING
 *
 */
div#hosting-plans {
	padding: 15px 0;
	margin: 20px auto 0;
}
div#hosting-plans table {
	border: 1px #ddd solid;
	width: 800px;
	margin: 0 auto;
}
div#hosting-plans caption {
	margin: 0 0 10px;
	font-size: 1.8em;
	font-weight: bold;
	color: #F01800;
}
div#hosting-plans th,
div#hosting-plans td {
	border: 1px #B9B9B9 solid;
}
div#hosting-plans th {
	font-weight: bold;
}
div#hosting-plans tbody th {
	text-align: right;
	padding-right: 10px;
	background: #CFCFCF;
}
div#hosting-plans tbody td {
	width: 200px;
	text-align: center;
	padding: 10px 0;
	font-weight: bold;
}
div#hosting-plans tbody tr.odd td {
	background: #fff;
}
div#hosting-plans tbody tr.even td {
	background: #e5eeef;
}
div#hosting-plans thead th {
	background: #222;
	color: #fff;
	padding: 90px 0 20px;
	text-transform: uppercase;
	font-weight: bold;
}
div#hosting-plans tfoot td {
	background: #fff;
	height: 30px;
}
/* HEADERS */
div#hosting-plans th#header-first-plan {
	background: #222 url(../images/icons/stickers-user_comment-64x64.png) no-repeat center 20px;
}
div#hosting-plans th#header-second-plan {
	background: #222 url(../images/icons/stickers-process-64x64.png) no-repeat center 20px;
}
div#hosting-plans th#header-third-plan {
	background: #222 url(../images/icons/stickers-world_globe-64x64.png) no-repeat center 20px;
}
/* PRICE */
div#hosting-plans div.price {
	position: relative;
}
div#hosting-plans tr#cost td {
	background: #fff;
}
div#hosting-plans div.price span.currency {
	position: absolute;
	right: 35px;
	top: 0px;
	font-weight: bold;
	font-size: 2.6em;
}
div#hosting-plans div.price span.int {
	display: block;
	float: left;
	font-size: 2.8em;
	text-align: right;
	width: 50%;
	font-weight: bold;
	letter-spacing: -.15em;
	color: #0199AE;
}
div#hosting-plans div.price span.decimal {
	display: block;
	float: left;
	width: 80px;
	font-weight: bold;
	text-align: left;
	margin: 3px 0 0 10px;
	color: #0199AE;
}
div#hosting-plans div.price span.periodicity {
	display: block;
	float: left;
	width: 80px;
	text-align: left;
	font-style: italic;
	font-weight: normal;
	margin: 3px 0 0 5px;
	letter-spacing: .2em;
}
/* MEASURMENT UNIT */
div#hosting-plans span.measurement-unit {
	padding-left: 5px;
}
/* TRUE-FALSE */
div#hosting-plans table tr td.true {
	background-image: url(../images/icons/coquette-accept-16x16.png);
	background-repeat: no-repeat;
	background-position: center center;
}
div#hosting-plans table tr td.false {
	background-image: url(../images/icons/coquette-delete-16x16.png);
	background-repeat: no-repeat;
	background-position: center center;
}

div#hosting-plans table tr td.true span,
div#hosting-plans table tr td.false span {
	visibility: hidden;
}
/* FOOTER */
div#hosting-plans div.footer {
	margin: 20px 0 0;
}
div#hosting-plans div.footer a:link,
div#hosting-plans div.footer a:visited {
}
/*
 *
 *=ABOUT-US
 *
 */
div#about-us div.articles-wrapper {
	margin-top: 10px;
}
body#site-page div#about-us div.article {
	margin-top: 30px;
	padding-top: 10px;
	width: 600px;
}
div#about-us div.article div.figure {
	background: #aaa;
	float: left;
	width: 103px;
	height: 103px;
	border: 5px #bbb solid;
	margin: 10px 20px 10px 0;
	padding: 1px;
}
div#about-us div.article div.figure img {
	display: block;
	background: #ddd;
	padding: 1px;
}
div#about-us div.article div.footer {
	padding-top: 3px;
	background: url(../images/about-us/article-footer-top-900x13.png) no-repeat top right;
	padding-top: 13px;
	clear: both;
}
div#about-us div.article div.footer-inner {
	background: #F4F4F4;
	border: 1px #ddd solid;
	border-top: none;
	margin: 0 0 0;
	padding: 5px;
}
div#about-us div.article div.footer-inner img {
	margin: 0 0 0 10px;
}
/* TOOLTIP */
div.gtalk-info-tooltip {
	font-family: Arial, sans-serif;
	border-radius: 20px;
	font-weight: bold;
    font-size: 1.2em;
    padding: 25px;
    background: #313131;
    color: #fff;
 }
/*
 *
 *=PROJECTS
 *
 */
/* ALBA */
div#alba-project {
	
}
div#alba-project div.body {
	margin-top: 30px;
}
div#alba-project div.gallery {
	clear: both;
	margin-top: 50px;
}
div#alba-project div.gallery ul {
	margin-top: 10px;
}
div#alba-project div.gallery li {
	border: 5px #BDBDBD solid;
	float: left;
	width: 150px;
	margin: 10px 10px 0 0;
	overflow: hidden;
}
div#alba-project div.footer {
	margin-top: 30px;
	background: #FDFEFE;
	border: 1px #ddd solid;
	padding: 10px;
}

